{% extends 'dashboard_base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="wc-title">
                    <div>
                        <div style="text-align: left;">
                            <h2>Chapter Name : {{lesson.chapter.name}}</h2>
                            <h3>Lesson Name : {{lesson.lesson_name}}</h3>
                            <p style="padding-bottom: 10px;">Lesson Description : {{lesson.lesson_description}}</p>
                        </div>
                        <div style="text-align: right;">
                            <div style="text-align: right;">
                                <a href="{% url 'lesson_edit' id=lesson.id %}">
                                    <button class="btn btn-lg bg-secondary text-white " type="submit">Edit
                                        Lesson</button>
                                </a>


                                <a href="{% url 'lesson_delete' id=lesson.id %}">
                                    <button class="btn btn-lg bg-danger text-white " type="submit">Delete
                                        Lesson</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if lesson.lesson_video_file.url != Null %}
                <div class="widget-inner">
                    <h3>Lesson Video</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{lesson.lesson_video_file.url}}"></iframe>
                    </div>
                </div>
                {% endif %}
                {% if lesson.lesson_text_file != Null %}
                <div class="widget-inner">
                    <h3>Lesson In Text</h3>
                    <p>{{lesson.lesson_text_file|linebreaks}}</p>
                </div>
                {% endif %}
                {% if lesson.quiz != Null %}
                <div class="widget-inner">
                    <h3>Quiz</h3>
                    <p>{{lesson.quiz|linebreaks}}</p>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}